.appRoot {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigGlass {
  width: 90%;
  max-width: 900px;
  min-height: 75vh;

  backdrop-filter: blur(18px);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 28px;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5);
}
